<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <welcome-file-list>
        <welcome-file>index</welcome-file>
   </welcome-file-list>
    <servlet>
    <servlet-name>ConnServlet</servlet-name>
    <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>ShipmentHistoryServlet</servlet-name>
    <servlet-class>uts.isd.controller.ShipmentHistoryServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ViewShipmentDetailServlet</servlet-name>
    <servlet-class>uts.isd.controller.ViewShipmentDetailServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>DeleteShipmentServlet</servlet-name>
    <servlet-class>uts.isd.controller.DeleteShipmentServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>UpdateShipmentServlet</servlet-name>
    <servlet-class>uts.isd.controller.UpdateShipmentServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
   <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
  </servlet>

     <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
  </servlet>
       <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
  </servlet>
      <servlet>
        <servlet-name>SearchAccessLogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchAccessLogsServlet</servlet-class>
    </servlet>
    
  <servlet>
<servlet-name>deviceSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.deviceSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDeviceFormServlet</servlet-name>
        <servlet-class>uts.isd.controller.addDeviceFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDeviceFormServlet</servlet-name>
        <servlet-class>uts.isd.controller.updateDeviceFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.createNewProductServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>deleteDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.deleteDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateExistingDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.updateExistingDeviceServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>createShipmentServlet</servlet-name>
        <servlet-class>uts.isd.controller.createShipmentServlet</servlet-class>
    </servlet>


  <servlet-mapping>
    <servlet-name>ConnServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  
  <servlet-mapping>
    <servlet-name>ShipmentHistoryServlet</servlet-name>
    <url-pattern>/shipmentHistory</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ViewShipmentDetailServlet</servlet-name>
    <url-pattern>/shipmentDetail</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DeleteShipmentServlet</servlet-name>
    <url-pattern>/deleteShipmentDetail</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UpdateShipmentServlet</servlet-name>
    <url-pattern>/updateShipmentDetail</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAccessLogsServlet</servlet-name>
    <url-pattern>/SearchAccessLogsServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>deviceSearchServlet</servlet-name>
        <url-pattern>/deviceSearchServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>addDeviceFormServlet</servlet-name>
        <url-pattern>/addDeviceFormServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>updateDeviceFormServlet</servlet-name>
        <url-pattern>/updateDeviceFormServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>createNewProductServlet</servlet-name>
        <url-pattern>/createNewProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>deleteDeviceServlet</servlet-name>
        <url-pattern>/deleteDeviceServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>updateExistingDeviceServlet</servlet-name>
        <url-pattern>/updateExistingDeviceServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>createShipmentServlet</servlet-name>
        <url-pattern>/createShipment</url-pattern>
    </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>